#anime-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100vh;
}
.anime-table {
    background: linear-gradient(to right, #281558, #043a42);
    border-collapse: collapse;
    border-radius: 20px;
    width: 100%;
}
.anime-table th {
    color: #67ebff;
}
.anime-table th,
.anime-table td {
    padding: 10px;
    text-align: center;
}
.anime-table td {
    border-top: 2px solid white;
}
.anime-picture {
    display: flex;
    align-items: center;
    gap: 1em;
}
.anime-picture:hover img {
    transition: all 0.2s ease-in;
    width: 100px;
    height: 100px;
}