main {
  padding: 3em;
}
main p:first-child {
  font-size: 1.3em;
}
.searchBtn {
  margin: 1em 0;
  font-size: 1.3em;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 20px;
  width: max-content;
  background: linear-gradient(to right, var(--color-bg-gradient1), var(--color-bg-gradient2));
}
.searchBtn:hover {
  transition: all 0.3s;
  box-shadow: 0 0 10px var(--color-blue);
}
#searchBar {
  display: none;
  margin-bottom: 1em;
  width: 40%;
  font-size: 1rem;
  padding: 10px;
  background: linear-gradient(
        to right, var(--color-input-bg) 0%,
        rgba(41, 40, 40) 15%,
        rgba(41, 40, 40, 0.6) 50%,
        rgba(58, 57, 57, 0.3) 100%);
  border: 1px solid var(--color-blue);
  border-radius: 20px;
  color: var(--color-white);
}

#searchBar::placeholder {
  color: var(--color-white);
}

#anime-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.anime-table {
  box-shadow: 0 0 30px var(--color-bg-gradient1);
  background: linear-gradient(to right, var(--color-bg-gradient1), var(--color-bg-gradient2));
  border-collapse: collapse;
  border-radius: 20px;
  width: 100%;
}

.anime-table th {
  color: var(--color-blue);
}

.anime-table th,
.anime-table td {
  padding: 10px;
  text-align: center;
}

.anime-table td {
  border-top: 2px solid var(--color-white);
}

.anime-picture {
  display: flex;
  align-items: center;
  gap: 1em;
}

.anime-picture:hover img {
  transition: all 0.2s ease-in;
  width: 100px;
  height: 100px;
}

.episodes-wrapper {
  height: 100%;
}

.episodes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.update-episodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.update-episodes i {
  cursor: pointer;
}

.update-episodes i:hover {
  color: var(--color-blue);
}

@media only screen and (max-width: 480px) {
  #searchBar {
    width: 90%;
    font-size: 1.1em;
    padding: 12px;
    margin-bottom: 1.5em;
  }

  #anime-list {
    padding: 0;
    width: 100%;
    overflow-x: auto;
  }

  .anime-table {
    width: 100%;
    font-size: 0.95em;
    border-radius: 10px;
  }

  .anime-table th,
  .anime-table td {
    padding: 6px 2px;
    font-size: 0.95em;
  }

  .anime-table th:nth-child(5),
  .anime-table th:nth-child(6),
  .anime-table tr td:nth-child(5),
  .anime-table tr td:nth-child(6) {
    display: none;
  }

  .anime-picture {
    flex-direction: column;
    gap: 0.3em;
  }

  .anime-picture img {
    width: 40px;
    height: 40px;
  }

  .episodes {
    flex-direction: column;
    gap: 2px;
  }

  .update-episodes i {
    font-size: 1em;
    margin: 2px 0;
  }

  main {
    padding: 0.5em;
  }
}