* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        to right,
        rgba(5, 24, 52) 0%,
        rgba(0, 0, 0) 15%,
        rgba(0, 0, 0) 50%,
        rgba(0, 0, 0) 85%,
        rgb(46, 21, 109) 100%
    );
    font-family: 'Arimo', sans-serif;
    color: white;
    overflow-x: hidden;
}
h1 {
    font-size: 3em;
    text-shadow: 0 0 10px white;
}
h2 {
    font-family: 'Anton';
    font-size: 2em;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 0.3em;
}
.blue-text {
    color: #67ebff;
}
#logo {
    width: 100px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(
        to right,
        rgba(5, 24, 52) 0%,
        rgba(0, 0, 0) 15%,
        rgba(0, 0, 0) 50%,
        rgba(0, 0, 0) 85%,
        rgb(46, 21, 109) 100%
    );
    transition: all 1s ease-in-out;
}
nav:hover {
    background: linear-gradient(to right, #281558, #043a42);
}
nav #logo {
    width: 50px;
    height: 50px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    padding: 0.3em 2em;
    font-size: 1.3em;
    font-weight: bold;
}
nav a:hover {
    color: #e5e7ea;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.avatar img,
.avatar p {
    cursor: pointer;
}
.fa-search {
    background-color: inherit;
    border: none;
    color: #a0b1c5;
    cursor: pointer;
}
.fa-search:hover,
.fa-arrow-down:hover {
    color: #e5e7ea;
}
.fa-arrow-down {
    background-color: inherit;
    border: none;
    color: #a0b1c5;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

footer {
    padding: 1em 2em;
    background: linear-gradient(to right, #281558, #043a42);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    line-height: 1.5;
}