html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  gap: 2em;
  padding: 2em;
}
h1 {
  font-family: 'Lilita One';
  text-shadow: 0 0 3px white;
}
.purple-text {
  color: #af8df4;
  text-shadow: 0 0 5px #af8df4;
}
.blue-text {
  font-weight: bold;
}
.welcome {
  flex-basis: 50%;
}
.welcome img {
  display: none;
}
.description {
  font-size: 3.6em;
}
.animate {
  display: none;
}
.welcome h2 {
  margin-bottom: 1.5em;
  margin-top: 0.6em;
  font-family: "Arimo";
  font-size: 1.8em;
}
.welcome a {
  display: none;
}
.welcome p {
  margin: 1em 0;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 1.5;
  font-size: 1.3em;
}
.trending {
  flex-basis: 50%;
  text-align: center;
}
.trending-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
}
.cards h1 {
  margin: 0.5em 0.8em;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  flex-basis: 90%;
}
.card a {
  flex: 10%;
}
.card img {
  width: 150px;
  height: 250px;
  border-radius: 20px;
}
.card a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.trending h2,
.cards h2 {
  font-family: "Arimo";
  color: white;
  text-shadow: 0 0 5px white;
  font-size: 2em;
}

.cards {
  padding: 2em;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em 0;
  text-align: center;
}
.card-container .card img {
  width: 225px;
  height: 350px;
}

@media only screen and (max-width: 480px) {
  * {
    max-width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .trending {
    display: none;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .description {
    display: none;
  }
  .animate {
    display: block;
    font-size: 2.8em;
  }
  .welcome a {
    display: block;
    font-size: 4em;
    text-decoration: none;
    color: white;
  }
  .welcome a:hover {
    color: #67ebff;
  }
  .welcome img {
    display: block;
    width: 100px;
    height: 100px;
  }
  .welcome p{
    display: none;
  }
 .welcome h2 {
    font-size: 2.3em;
  }
  .cards h1 {
    margin: 1em 0;
    font-size: 1.5em;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 13px;
  }
  .card-container .card img {
    width: 175px;
    height: 175px;
  }
  .card img {
    flex-basis: 90%;
  }
  .card a {
    flex: 10%;
  }
}
