body {
    background:
        linear-gradient(
        to right,
        var(--color-login-1) 0%,
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 85%,
        var(--color-login-2) 100%)
   ,
        url(../images/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#logo {
    margin-bottom: 3em;
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    padding: 1.8em 0.8em;
    gap: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#username,
#password {
    width: 90%;
    margin: 15px 10px;
    font-size: 1rem;
    padding: 10px;
    background: linear-gradient(
        to right, var(--color-input-bg) 0%,
        var(--color-grey-1) 15%,
        var(--color-grey-1) 50%,
        var(--color-grey-2) 100%);
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    color: var(--color-white);
}
#username:focus,
#password:focus {
    outline: none;
}
#username::placeholder,
#password::placeholder {
    color: var(--color-white);
}
a {
    text-decoration: none;
    color: var(--color-blue);
}
#submit {
    background: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
    color: var(--color-white);
    border: none;
    padding: 0.4em;
    width: 65%;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 3px var(--color-white);
    margin: 1.5em 0;
}
