<<<<<<< HEAD
main {
  display: flex;
  min-height: 100vh;
}
.pfp {
  flex-basis: 30%;
}
.profile-description {
  flex-basis: 70%;
  padding: 2em;
  text-align: justify;
  line-height: 1.8;
}
.profile-description p {
    font-size: 1.4em;
}
.profile-description a {
  text-decoration: none;
  background: linear-gradient(to right, #0fb5ce, #6d3ee4);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.3em 1.5em;
  border-radius: 20px;
  text-shadow: 2px 2px 5px black;
}
.profile-description a:hover {
  box-shadow: 0 0 10px #67ebff;
}
.change-profile {
      text-align: center;
      margin-top: 1em;
=======
.top-nav {
    background: rgba(35, 38, 67, .5);
    color: #e5e7ea;
    transition: all 0.3s ease-in-out;
}
.top-nav:hover {
    background: #152232;
    a {
        color: #a0b1c5;
    }
}
.avatar {
    position: relative;
}
.logout {
    position: absolute;
    bottom: 10000px;
    background-color: inherit;
    padding: 10px;
    border-radius: 10px;
}

.profile-banner {
    background-color: #242538;
    background-position: 50% 35%;
    height: 40vh;
    position: relative;
}
.banner-content {
    height: 55%;
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 100px;
    display: flex;
}
.pfp {
    height: 100%;
    width: 20%;
    background: url(images/logo.svg) no-repeat center center;
    background-size: cover;
}
.name-wrapper {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 0.7rem;
}

.profile-nav {
    background: rgb(21,31,46);
    color: #728aa1;
    transition: all 0.3s ease-in-out;
    font-size: 0.9rem;
}
.profile-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.profile-nav a {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    font-weight: 600;
}
.profile-nav a:hover {
    color: #3db4f2;
}
#active {
    color: #3db4f2;
}

.overview-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    line-height: 1.5;
    h1, h2 {
        color:#728aa1;
    }
}

footer {
    background: #11161d;
    color: #728aa1;
    font-size: 0.9rem;
    padding: 20px;
    text-align: center;
>>>>>>> 41f726397fd0129db99b02b14066303beaac1e93
}