* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Arimo", sans-serif;
  color: white;
  min-height: 100vh;
  background: linear-gradient(to right, #0c3052 0%, black 50%, black 100%);
}
.blue-text {
  color: #67ebff;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3em;
  gap: 3em;
  position: relative;
  z-index: 1;
}
nav::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to right, #281558, #043a42);
  opacity: 0;
  transition: opacity 0.3s ease;
}
nav:hover::after {
  opacity: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 2em;
}
nav a {
  text-decoration: none;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: bold;
}
nav a:hover {
  color: #e5e7ea;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  margin-right: 2em;
}

.avatar img,
.avatar p {
  cursor: pointer;
}
.fa-search {
  background-color: inherit;
  border: none;
  color: #67ebff;
  cursor: pointer;
}
.fa-search:hover {
  color: #e5e7ea;
}
.fa-arrow-down {
  background-color: inherit;
  border: none;
  color: #a0b1c5;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
}
#avatarHover {
  display: none;
  position: absolute;
  top: 65px;
  padding: 0.3em 0em;
  background: linear-gradient(#281558, #043a42);
  border-radius: 20px;
  z-index: 100;
}
#avatarHover a {
  text-decoration: none;
  color: white;
}
#avatarHover a:hover {
  color: #67ebff;
}
main {
  display: flex;
  flex-direction: column;
}
.banner {
  flex-basis: 50%;
}
.anime-description {
  flex-basis: 50%;
  padding: 2em;
  text-align: justify;
  line-height: 1.5;
}
h1 {
  font-size: 3em;
  text-shadow: 0 0 10px white;
}
.genre {
  display: inline-block;
  padding: 0.2em 2.5em;
  background-color: #051834;
  border-radius: 20px;
  font-weight: bold;
  margin: 2em 0;
}
.button {
  border: none;
  background: linear-gradient(to right, #0fb5ce, #6d3ee4);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.3em 1.5em;
  border-radius: 20px;
  margin-top: 1em;
  text-shadow: 2px 2px 5px black;
  cursor: pointer;
}
.bookTickets {
  text-decoration: none;
  padding: 0.5em 1.5em;
  margin-left: 2em;
}
.button:hover {
  box-shadow: 0 0 10px #67ebff;
}
.fa-arrow-down {
  border: 2px solid white;
  padding: 0.2em;
  margin-left: 1em;
  color: white;
  border-radius: 50%;
  text-align: center;
  text-shadow: none;
}
.gradient-text {
  padding: 0.5em 1.2em;
  font-weight: bold;
  background: linear-gradient(to right, #0fb5ce, #6d3ee4);
  border-radius: 20px;
}
.top {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 95%,
      rgb(21, 1, 6) 100%
    ),
    url(../images/one-piece-background.png) left top no-repeat;
  background-size: cover, 50% 100%;
  background-position: center center, left top;
  background-repeat: no-repeat, no-repeat;
}
.anime {
  display: flex;
}
#book {
  min-height: 100vh;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.info,
.select-options {
  display: flex;
  justify-content: space-around;
}
.option {
  display: flex;
  gap: 1em;
  position: relative;
  align-items: center;
}
select {
  appearance: none;
  border: none;
  background: linear-gradient(to right, #0fb5ce, #6d3ee4);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.3em 1.2em;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
}
.option::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 15px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  z-index: 1;
  width: 8px;
  height: 8px;
  pointer-events: none;
}
select option {
  background-color: #6d3ee4;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}
.select-main {
  border-top: 2px solid cyan;
  text-align: center;
}
.select-main > h2 {
  margin: 1em;
  font-size: 2em;
}
.select-seat {
  background: linear-gradient(to right, #0a6a79, #3c237c);
  border-radius: 50px;
  padding: 1.5em 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.legend-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
.user-seat {
  background-color: #8f2828;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.available-seat {
  background: linear-gradient(to right, #0fb5ce, #6d3ee4);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sold {
  background-color: #9d756e;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.legend-seat {
  width: 75px;
  height: 75px;
}
#screen {
  background-color: #af8df4;
  border: 3px solid #8f2828;
  padding: 0.6em;
  border-radius: 30px;
  text-shadow: 0 0 6px black;
}
.seats-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
}
.left-side,
.right-side {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5px;
  flex-basis: 25%;
}
.middle-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5px;
  flex-basis: 50%;
}
.rows {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5px;
  align-items: center;
}
button {
  border: none;
  background: linear-gradient(to right, #0fb5ce, #6d3ee4);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.3em 1.2em;
  border-radius: 20px;
  cursor: pointer;
}